:root {
  --midnight-green: #0d5c63;
  --baby-powder: #fffffa;
  --cadet-blue: #44a1a0;
  --middle-blue: #78cdd7;
  --teal: #247b7b;
}

h1,
.h1 {
  font-size: calc(1rem + 1.25vw);
}
h2,
.h2 {
  font-size: calc(1rem + 0.85vw);
}
h3,
.h3 {
  font-size: calc(1rem + 0.45vw);
}
h4,
.h4 {
  font-size: calc(1rem + 0.2vw);
}
p,
span {
  font-size: 1rem;
}
body {
  color: #333;
  height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5vw; */
}
@media screen and (max-width: 768px) {
  body {
    padding: 3vw;
    height: 100%;
  }
}

/* 主要畫面 */
main {
  /* border:1px solid #333; */
  background: white;
  border-radius: 5px;
  width: 80vw;
  height: 90vh;
  display: flex;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    /* margin-bottom: 5vh; */
  }
  .email-text {
    font-size: 0.8rem;
  }
}
/* 左側 */
.left-info {
  width: 30%;
  background: var(--midnight-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  color: white;
  font-family: 'noto sans';
}
@media screen and (max-width: 768px) {
  .left-info {
    width: 100%;
    justify-content: space-between;
  }
}
.avatar {
  width: 10vw;
  height: 10vw;
  /* border: 1px solid red; */
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .avatar {
    /* margin: 0; */
    width: 30vw;
    height: 30vw;
  }
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  color: white;
  list-style: none;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .menu {
    margin: 0;
    flex-direction: row;
  }
}
.menu li {
  border: 0.5px solid var(--baby-powder);
  width: 100%;
  height: 6vh;
}
.menu li button {
  border: none;
  cursor: pointer;
  background: var(--middle-blue);
  color: white;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.2s;
  text-align: start;
  padding-left: 1vw;
}
@media screen and (max-width: 768px) {
  .menu li button {
    /* font-size: calc(1rem + 0.2vw); */
    font-size: 12px;
    text-align: center;
    padding: 0;
  }
}
.menu li button.active {
  background: var(--cadet-blue);
  border-left: 0.6vw solid var(--baby-powder);
}
@media screen and (max-width: 768px) {
  .menu li button.active {
    border-left: none;
    border-bottom: 0.6vw solid var(--midnight-green);
  }
}
.mine {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .mine {
    justify-content: center;
  }
}
.mine .info {
  display: flex;
  align-items: center;
}
.mine .info i {
  font-size: 20px;
  /* margin-right: 3vw; */
  /* position: absolute; */
}
.info h4 {
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .info {
    width: 50vw;
  }
  .info h4 {
    margin: 2vh;
  }
  .info i {
    width: 20px;
    height: 20px;
  }
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .personal-info {
    margin-bottom: 2vh;
  }
}
/* 右側 */
.right-content {
  width: 70%;
  background: var(--baby-powder);
  /* border: 1px solid red; */
  padding: 1vw;
}
@media screen and (max-width: 768px) {
  .right-content {
    width: 100%;
    padding: 0;
  }
}
.right-content .content {
  /* border: 1px solid blue; */
  height: 100%;
  overflow: auto;
}
.right-content .content::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* width of the entire scrollbar */
}

.right-content .content::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

ol li {
  font-family: 'noto sans';
  margin: 1vh 0 1vh 0;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 0 1vw 0 1vw;
}
@media screen and (max-width: 768px) {
  .experience {
    padding: 0 3vw 0 3vw;
  }
}
.education .school-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.education .school-icon {
  width: 3vw;
  height: 3vw;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .education {
    padding: 0 2vw 0 2vw;
  }
  .education .school-icon {
    width: 12vw;
    height: 12vw;
  }
}
.school-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.education .summary {
  padding-left: 3vw;
}
.about-me {
  padding: 2vw;
}
p {
  line-height: 2rem;
}
/* project */
.project {
  /* border: 1px solid red; */
  height: 300vh;
}
.middle-img {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .middle-img {
    width: 80vw;
    /* height: 58vh; */
  }
}
.middle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.end-img {
  overflow: hidden;
}

.end-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .end-img {
    width: 100%;

    margin: 0;
    align-self: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .middle-part {
    padding: 0 2vw 0 2vw;
  }
  .project-common {
    padding: 0 2vw 0 2vw;
  }
  .final-part {
    align-items: center;
    padding: 0 2vw 0 2vw;
  }
  .final-part p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
}
@media screen and (max-width: 768px) {
  ol {
    padding: 0;
  }
  li {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  .middle-part li {
    align-items: center;
  }
}
